html {
    font-family: 'GentiumAlt', 'Sanskrit 2003';
}

.unselectable {
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
         -o-user-select: none;
            user-select: none;
}

#output {
    margin-top: 10px;
    border: 2px dashed darkgrey;
    padding: 10px;
}

#options {
    list-style-type: none;
    text-indent: -2em;
}

#options input {
    margin-right: 10px;
}

.form {
    font-weight: bold;
}

.case {
    color: red;
}

.number {
    color: blue;
}
